streamlit==1.51.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.7.2
scipy==1.16.3
joblib==1.4.2
lightgbm==4.6.0
tensorflow==2.16.1
keras==3.13.0
h5py==3.15.1
ml-dtypes==0.3.2
protobuf==4.25.8
groq==0.37.1
openai==2.7.1
google-genai==1.64.0
langchain==0.3.27
langchain-core==1.2.13
langchain-community==0.3.27
langchain-groq==1.1.2
langchain-google-genai==4.2.0
python-dotenv==1.2.1
pyarrow==21.0.0
