streamlit
numpy
pandas
scikit-learn
matplotlib
seaborn
pyyaml
langchain==0.3.27
langchain_community==0.3.27
langchain-groq
openai
tiktoken
aiohttp
requests
sqlalchemy
sqlmodel
openpyxl
zss
rich
loguru
python-dotenv